# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# Dataset
data/*.csv

# Logs
*.log